# API keys and secrets
.env
.env*
!.env.example

# Dependency directory
node_modules

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
lib/**/*

# Ignore folders

!.gitignore
!.gitkeep
